name: Build APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Получаем код из репозитория
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Устанавливаем JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin

      # 3. Делаем gradlew исполняемым
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      # 4. Скачиваем зависимости и собираем APK
      - name: Build APK (Debug)
        run: ./gradlew assembleDebug --no-daemon

      # 5. Загружаем APK как артефакт
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: TvMedia-debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk

